<h1>Clients Page</h1>

<% @clients.each do |client| %>
    <div class="client-container">
    <h2><%= link_to client.name, client %></h2>
    <h4>Age: <%= client.age %></h4>
    <h4>Gender: <%= client.gender %></h4>
    </div>
<% end %>